* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --primaryColor: rgb(17 1 27 / 97%);
  --secondaryColor: rgb(2 180 96 / 87%);
  --btnColor: #0da3a1;
  --hoverColor: #148f77;
  --headingTextColor: #1a232b;
  --peragraphTextColor: #718292;
  --whiteColor: #ffffff;
  --blackColor: #000000;
  --stepSectionBgColor: #f5f7f9;
  --footerBgColor: #1a2633;
  --bgColor: #468fd9;

  /* Font Sizes */
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
}

a {
  text-decoration: none;
  color: var(--whiteColor);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.heading {
  color: var(--whiteColor);
}

p {
  color: var(--peragraphTextColor);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
}

.container {
  width: 85%;
  margin: auto;
}

.primary-btn {
  background: var(--secondaryColor);
  color: var(--primaryColor);
  border: 2px solid var(--primaryColor);
  outline: none;
  padding: 15px 60px;
  font-weight: 600;
  transition: 0.3s ease-out;
}

.primary-btn:hover {
  box-shadow: 10px 10px;
  color: red;
}

.secondary-btn {
  background: var(--primaryColor);
  color: var(--whiteColor);
  border: 2px solid var(--secondaryColor);
  padding: 15px 60px;
  font-weight: 500;
  transition: 0.3s ease-out;
}

.secondary-btn:hover {
  box-shadow: 10px 10px;
  color: red;
}

.icon {
  width: 50px;
  height: 50px;
}
