.hero-section,
.about-section,
.recent-project-section,
.skill-section {
  width: 100%;
  height: 100vh;
}

.experience-section {
  width: 100%;
  height: 70vh;
}

.education-section,
.experience-section {
  width: 100%;
  height: 70vh;
}

.contact-section {
  width: 100%;
  height: 100vh;
}

@media (max-width: 1000px) {
  .about-section,
  .recent-project-section,
  .skill-section,
  .contact-section {
    height: unset;
  }

  .experience-section {
    height: unset;
  }
}
